.nav-links.el-tabs {

}

.nav-links.el-tabs .el-tabs__header {
  border: 0;
  margin: 0;
}

.nav-links.el-tabs .el-tabs__item {
  height: 53px;
  line-height: 60px;
  font-size: 16px;
}

.nav-links.el-tabs .el-tabs__active-bar {
  bottom: -4px;
}


.el-upload__input{
  display: none !important;
}

/*=========api 列表展示样式========*/
.type.post{
  color: #416bbb;
}
.type.get{
  color: #39bb2f;
}
.type.put{
  color: #bb7220;
}
.type.delete{
  color: #bb221b;
}

/*=========类型 列表展示样式========*/